version: 2.1

aliases:
  - &install_yarn_version
    name: Install specific Yarn version
    command: |
      curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.19
      echo 'export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"' >> $BASH_ENV

  - &restore_yarn_cache
    name: Restore Yarn cache
    keys:
      - yarn-{{ .Branch }}-packages-{{ checksum "yarn.lock" }}

  - &save_yarn_cache
    name: Save Yarn cache
    key: yarn-{{ .Branch }}-packages-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

  - &run_yarn_install
    name: Install dependencies
    command: yarn install

node_v16: &node_v16
  working_directory: ~/search-insights
  docker:
    - image: cimg/node:16.20-browsers

node_v18: &node_v18
  working_directory: ~/search-insights
  docker:
    - image: cimg/node:18.17-browsers

parameters:
  prepare_release:
    type: boolean
    default: false

jobs:
  "build and size":
    <<: *node_v18
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Build & Test packages size
          command: |
            yarn run build
            yarn run test:size

  lint:
    <<: *node_v18
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Lint & Code styles
          command: yarn run lint
      - run:
          name: Type Checking
          command: yarn run type-check

  "unit tests":
    <<: *node_v16
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run:
          name: Remove Ship.js and install dependencies
          command: yarn remove shipjs && yarn install
      - run:
          name: Unit tests
          command: yarn run test

  "release if needed":
    <<: *node_v18
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Trigger a release if the latest commit is a release commit
          command: |
            git config --global user.email "algobot@users.noreply.github.com"
            git config --global user.name "algobot"
            yarn shipjs trigger

  "prepare release":
    <<: *node_v18
    steps:
      - checkout
      - run: *install_yarn_version
      - restore_cache: *restore_yarn_cache
      - run: *run_yarn_install
      - save_cache: *save_yarn_cache
      - run:
          name: Prepare release
          command: |
            git config --global user.email "algobot@users.noreply.github.com"
            git config --global user.name "algobot"
            yarn run release --yes --no-browse

workflows:
  ci:
    when:
      equal:
        - [ false, << pipeline.parameters.prepare_release >> ]
    jobs:
      - build and size
      - unit tests
      - lint
      - "release if needed":
          filters:
            branches:
              only:
                - main

  prepare_release:
    when:
      equal:
        - [ true, << pipeline.parameters.prepare_release >> ]
        - [ main, << pipeline.git.branch >> ]
    jobs:
      - prepare release
