version: 2.1
orbs:
  node: circleci/node@5.1.0

jobs:
  "build and size":
    working_directory: ~/search-insights
    executor: node/default
    steps:
      - checkout
      - run: corepack enable
      - node/install-packages:
          check-cache: always
          pkg-manager: yarn-berry
          with-cache: false
      - run:
          name: Build & Test packages size
          command: |
            yarn run build
            yarn run test:size

  lint:
    working_directory: ~/search-insights
    executor: node/default
    steps:
      - checkout
      - run: corepack enable
      - node/install-packages:
          check-cache: always
          pkg-manager: yarn-berry
          with-cache: false
      - run:
          name: Lint & Code styles
          command: yarn run lint
      - run:
          name: Type Checking
          command: yarn run type-check

  "unit tests":
    working_directory: ~/search-insights
    executor: node/default
    steps:
      - checkout
      - run: corepack enable
      - node/install-packages:
          check-cache: always
          pkg-manager: yarn-berry
          with-cache: false
      - run:
          name: Unit tests
          command: yarn run test

  "release if needed":
    working_directory: ~/search-insights
    executor: node/default
    steps:
      - checkout
      - run: corepack enable
      - node/install-packages:
          check-cache: always
          pkg-manager: yarn-berry
          with-cache: false
      - run:
          name: Trigger a release if the latest commit is a release commit
          command: yarn shipjs trigger

  "prepare release":
    working_directory: ~/search-insights
    executor: node/default
    steps:
      - checkout
      - run: corepack enable
      - node/install-packages:
          check-cache: always
          pkg-manager: yarn-berry
          with-cache: false
      - run:
          name: Prepare release
          command: |
            git config --global user.email "algobot@users.noreply.github.com"
            git config --global user.name "algobot"
            yarn run release --yes --no-browse

workflows:
  ci:
    jobs:
      - "build and size"
      - "lint"
      - "unit tests"
      - "release if needed":
          filters:
            branches:
              only:
                - master

  prepare_release_every_tuesday:
    triggers:
      - schedule:
          cron: "0 9 * * 2"
          filters:
            branches:
              only:
                - master
    jobs:
      - "prepare release"
